@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

body {
  height: 1000px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

nav.navbar {
  transition: 0.5s;
}

nav.navbar.navbar-default.navbar-fixed-top.navbar-top {
  background-color: transparent;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-top a {
  color: white;
  transition: 0.5s;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-top a:hover {
  color: #f7931a;
}

header.jumbotron {
  text-align: center;
  background-image: url("https://image1.thenewslens.com/2016/7/nxtv13qyf116wwfn90axnmduexnzpn.jpg?auto=compress&h=648&q=80&w=1080");
  background-color: rgba(125, 0, 0, 0.4);
  background-blend-mode: darken;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0px;
}
header.jumbotron .container {
  color: white;
  padding: 200px 0px;
}
header.jumbotron hr {
  max-width: 50px;
  border: solid 2px #f7931a;
}
header.jumbotron h4 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
}

section {
  padding: 50px 0px;
}

section#section_ask {
  background-color: #f7931a;
}
section#section_ask .col-sm-5.img {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReQhHVoWESNhhfQRPk4YSXBuUlfS7NRzjl9wVCWPmGN37hiYoR);
  background-size: cover;
  height: 350px;
  mix-blend-mode: multiply;
}
section#section_ask h2 {
  margin-top: 130px;
  padding: 0px 20px;
}

section#section_about img {
  width: 100%;
}
section#section_about .img_wrap {
  height: 220px;
  overflow: hidden;
}

section#section_story {
  background-color: #222;
  color: white;
  padding: 0;
}
section#section_story .col-sm-4.map {
  background-image: url(https://cimg.cnyes.cool/prod/news/4054733/l/f4092e7c10087a452f0cfb61313be99c.jpg);
  background-position: center center;
  background-size: cover;
  height: 330px;
}
section#section_story .col-sm-8 {
  text-align: center;
}
section#section_story .col-sm-8 i {
  font-size: 40px;
}
section#section_story .col-sm-12.features {
  margin-top: 40px;
  margin-bottom: 40px;
}

section#section_future img {
  width: 100%;
}
section#section_future i {
  font-size: 30px;
}
section#section_future .col-sm-6.feature {
  padding: 10px 20px;
}

footer.jumbotron {
  text-align: center;
  background-image: url("https://image1.thenewslens.com/2016/7/nxtv13qyf116wwfn90axnmduexnzpn.jpg?auto=compress&h=648&q=80&w=1080");
  background-color: rgba(125, 0, 0, 0.4);
  background-blend-mode: darken;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0px;
}
footer.jumbotron input {
  background-color: transparent;
  max-width: 350px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
footer.jumbotron .container {
  color: white;
  padding: 60px 0px;
}
footer.jumbotron hr {
  max-width: 50px;
  border: solid 2px #f7931a;
}
